<!DOCTYPE html>
<html>
<head>
  <title>Popcorn</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="fragment" content="!">
</head>
<body>

<%= yield %>

</body>
</html>
